.fixed-header {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.photo {
  border: '1px solid black';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 2%;
}

/* notification */
#sync_btn {
  position: fixed;
  top: 10px;
  left: 62%;
  opacity: 70%;
}

#update_success_notification {
  padding: 20px;
  background-color: #04AA6D;
  color: white;
  opacity: 1;
  font-size: 25px;

  position: fixed;
  top: 80px;
  left: 30px;
  opacity: 70%;
}

#update_failure_notification {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  font-size: 25px;

  position: fixed;
  top: 80px;
  right: 30px;
  opacity: 70%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.year-button{
  margin-top: 10px;
  margin-left: 10px;
  opacity: 70%;
  font-weight: bold;
  font-size: 20px;
}

/* year button */
#yearButton{
  /*display: inline;*/
  position: absolute;
  top: 0;
  left: 0;
}
